@import './index';

.search__example-container {
  position: relative;
  width: 100%;
  height: 64px;
  -webkit-font-smoothing: antialiased;
  font-family: var(--fontfamily-sans);
  background: var(--color-kiev);
}

/* stylelint-disable selector-no-id, selector-max-specificity */

#___gcse_0 {
  width: 500px;
}

/* stylelint-enable */
